<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.hsa.hcigenerator.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="de.hsa.hcigenerator.Perspective"
            id="de.hsa.HCIGenerator.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
         
       <view
       		name="View2 test2"
       		allowMultiple="true"
            class="de.hsa.hcigenerator.View2"
            id="de.hsa.HCIGenerator.view2"
            >
      </view>
         
      <view
            name="View1 test"
            allowMultiple="true"
            class="de.hsa.hcigenerator.View1"
            id="de.hsa.HCIGenerator.view1">
      </view>


   </extension>
   
   
   
   


</plugin>
